{% include "header.twig" %}

<div class="container">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Název článku</th>
					<th scope="col">Autor článku</th>
					<th scope="col">PDF</th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<th scope="row">{{ article.id }}</th>
						<td>{{ article.title }}</td>
						<td>{{ article.firstname }}
							{{ article.lastname }}</td>
						<td>
							<a href="{{ base_url }}/{{ article.file }}"><img class="pdf" src="{{ base_url }}/icon/pdf.svg"></a>
						</td>
						<td>
							<a class="btn btn-primary" href="{{ base_url }}/article/{{ article.id }}">Zobrazit</a>
						</td>
						<td>
							<a class="btn btn-info" href="{{ base_url }}/review/{{ article.id }}">Recenze</a>
						</td>
						{% if not article.approved %}
							<td>
								<a class="btn btn-success" href="{{ base_url }}/admin/approve/{{ article.id }}">Schválit</a>
							</td>
							<td>
								<a class="btn btn-warning" href="{{ base_url }}/admin/delarticle/{{ article.id }}">Zamítnout</a>
							</td>
						{% else %}
							<td></td>
							<td>
								<a class="btn btn-warning" href="{{ base_url }}/admin/delarticle/{{ article.id }}">Odstranit</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% include "footer.twig" %}
