{% include "header.twig" %}
<div class="container pt-5">
	<article class="blog-post">
		<h2 class="blog-post-title">{{ article.title }}</h2>
		{% if not article.approved and article.author == user.id %}
			<p class="text-danger">Neschválený<span>,
					<a href="{{ base_url }}/edit/{{ article.id }}">Upravit</a>
				</span>
			</p>
		{% elseif article.author == user.id %}
			<p class="text-success">Schválený</p>
		{% endif %}
		<p class="blog-post-meta">{{ article.date }}, napsal
			<a href="{{ base_url }}/user/{{article.author}}">{{ article.firstname }}
				{{article.lastname}}</a>
		</p>
		<p>{{ article.abstract }}</p>
		<a class="btn btn-dark me-2" href="{{ base_url }}/{{ article.file }}">
			Stáhnout článek
		</a>
		<a class="btn btn-primary me-2" href="{{ base_url }}/review/{{ article.id }}">
			Recenze
		</a>
		{% if user.role == 2 %}
			<a class="btn btn-warning me-2" href="{{ base_url }}/addreview/{{ article.id }}">
				Přidat recenzi
			</a>
		{% endif %}
	</article>
</div>

{% include "footer.twig" %}
