{% include "head.twig" %}


<header class="p-3 bg-dark text-white">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li>
					<a href="{{ base_url }}/" class="nav-link px-2 text-white">Hlavní sránka</a>
				</li>
				<li>
					<a href="{{ base_url }}/articles" class="nav-link px-2 text-white">Články</a>
				</li>

				{% if user.logged %}
					<li>
						<a href="{{ base_url }}/new" class="nav-link px-2 text-white">Přidat článek</a>
					</li>
				{% endif %}
			</ul>

			<form accept-charset="UTF-8" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{{ base_url }}/articles" method="GET" id="searchform">
				<input type="search" id="searchbox" name="q" class="form-control form-control-dark" placeholder="Vyhledat článek..." aria-label="Vyhledat" value="{{ search_value }}">
			</form>

			{% if not user.logged %}
				<div class="text-end">
					<a class="btn btn-outline-light me-2" href="{{ base_url }}/login">Přihlášení</a>
				</div>
				<div class="text-end">
					<a class="btn btn-warning" href="{{ base_url }}/register">Registrace</a>
				</div>
			{% else %}
				{% if user.role >= 3 %}

					<div class="text-end">
						<div class="dropdown">
							<button type="button" id="dropdown" class="btn btn-outline-light me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Administrace</button>

							<ul class="dropdown-menu" aria-labelledby="dropdown">
								<li>
									<a class="dropdown-item" href="{{ base_url }}/admin/articles/">Správa článků</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ base_url }}/admin/users/">Správa uživatelů</a>
								</li>
							</ul>
						</div>
					</div>
				{% endif %}

				<div class="text-end">
					<a class="btn btn-outline-light me-2" href="{{ base_url }}/profile">
						Profil
					</a>
				</div>

				<div class="text-end">
					<a class="btn btn-outline-light me-2" href="{{ base_url }}/logout">
						Odhlásit
					</a>
				</div>

			{% endif %}

		</div>
	</div>
</header>
